# ==========================================
# rAthReST SETTINGS
#
# Rename this to ".env"
# ==========================================
APP_NAME=rAthReST
APP_URL=http://localhost:8000
APP_ENV=lcoal                                   #Chnage to "production" on deploy
APP_DEBUG=true                                  #For showing errors. change to "false" ib production
APP_KEY=                                        #Run "php artisan key:generate" 

# ==> Rathena Database that you're using        
DB_CONNECTION=mysql
DB_HOST=rathena                             
DB_PORT=3306
DB_DATABASE=ragnarok
DB_USERNAME=ragnarok
DB_PASSWORD=ragnarok


# ==========================================================
# LARAVEL DEFAULTS — Edit if you know what's you're doing
# ==========================================================
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=file
QUEUE_CONNECTION=sync

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local